.input{

    background: #F3F3FF;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    width: 397px;
    height: 30px;
    /* background-color: rgb(206, 206, 226);
    width: 13rem;
    height: 2rem;
    border-radius: 5px;
    border: none; */
}