.addNewCard_container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 82%;
    border-radius: 1rem;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}